<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title th:text="${blog.title}">title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">

    <!--加载meta IE兼容文件--
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="lay-blog">
<!--导航栏-->
<div class="header">
    <div class="header-wrap ">
        <div class="layui-row">
            <div class="layui-col-md12" align="center">
                <ul class="layui-nav  " lay-filter=""
                    style="padding-top: 20px; padding-bottom: 20px; background-color: #000000">
                    <li class="layui-nav-item">
                        <a th:href="@{/index}"> <img th:src="@{/images/Blog.png}" alt=""
                                                     style="width: 80px; height: 70px; padding-right: 30px;">
                        </a>
                    </li>
                    <li class="layui-nav-item layui-this "><a th:href="@{/index}" class="my-text"><i
                            class="layui-icon layui-icon-home " style="padding-right: 3px"></i>首页</a>
                    </li>
                    <li class="layui-nav-item "><a th:href="@{/tag}" class="my-text"><i
                            class="layui-icon layui-icon-note"></i> 标签</a>
                    </li>
                    <li class="layui-nav-item "><a th:href="@{/archiving}" class="my-text"><i
                            class="layui-icon layui-icon-templeate-1" style="padding-right: 3px"></i>归档</a></li>
                    <li class="layui-nav-item"><a th:href="@{/albums}" class="my-text"><i
                            class="layui-icon layui-icon-picture" style="padding-right: 3px"></i>相册</a></li>
                    <li class="layui-nav-item"><a th:href="@{/about}" class="my-text"><i
                            class="layui-icon layui-icon-about" style="padding-right: 3px"></i>关于我</a></li>
                    <li class="layui-nav-item ">
                        <form class="layui-form blog-seach " th:action="@{/search}" method="post">
                            <div class="layui-form-item blog-sewrap">
                                <div class="layui-input-block blog-sebox">
                                    <i class="layui-icon layui-icon-search">
                                    </i> <input type="text" name="title" lay-verify="title" autocomplete="off"
                                                class="layui-input">
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 中间内容 -->

<div class="layui-fluid blog-mobile " id="layer-photos-demo">
    <div class="layui-row">
        <div class="layui-col-md3" style="opacity: 0">1</div>
        <div class="layui-col-md6" style="padding: 40px 0px 10px 0px">
            <!-- 标签头部 -->
            <div class="layui-card my-border">
                <div class="layui-card-header">
                    <div style="font-size: 16px; padding-bottom: 10px">
                        <cite><span><img class="userHeadPic " th:src="${blog.user.avatar}"
                                         style="width: 30px; height: 30px; border-radius: 50%; opacity: 0.9">
                                </span>&nbsp;
                            <a th:text="${blog.user.nickname}">
                                tiankong&nbsp;&nbsp;</a></cite><span>&nbsp;&nbsp; <i
                            class="layui-icon layui-icon-date"></i>&nbsp;2020-1-13
                            </span>&emsp;<img th:src="@{/images/view.png}"
                                              style="color: gray; width: 20px; height: 20px"><span
                            th:text="${blog.views}">&nbsp;
                            </span><span style="float: right;" th:each="tag:${blog.tags}">
                                <button type="button" class="layui-btn layui-btn-sm layui-btn-radius tag "
                                        th:text="${tag.name}"> Java
                                </button>&ensp;</span>
                    </div>
                </div>
                <div class="layui-card-body" style="line-height: 45px;">
                    <!-- 文章 -->
                    <div class="article">
                        <!-- 首图 -->
                        <div align="center">
                            <img class="first-pic" th:src="${blog.firstPicture}">
                        </div>
                        <div class="blogpage-title" th:text="${blog.title}">个人博客系统</div>

                        <!--                        内容-->
                        <div class=" blogpage-content" id="content" th:utext="${blog.content}">
                        </div>

                    </div>
                    <fieldset class="layui-elem-field site-demo-button"></fieldset>
                    <div class="article-component" style="padding-bottom: 10px">
                        <div class="reword-box" align="center">
                            <a th:href="@{javascript:;}" class="reword" blog-event="reword"
                               th:if="${blog.appreciation}==true">
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-danger">赏
                                </button>
                            </a>
                            <span class="praise-container" th:fragment="praise">
                                    <a th:href="@{javascript:;}" class="praise" blog-event="praise">
                                        <button type="button" class="layui-btn layui-btn-radius layui-btn-danger"
                                                id="praise-btn" onclick="praise(this)"
                                                th:attr="data-blogid=${blog.id},data-message=${session.message}">
                                            <i class="layui-icon layui-icon-heart-fill"></i> <span id="praiseCnt"
                                                                                                   th:text="${blog.praise}">0</span>
                                        </button>
                                    </a></span>
                            <a th:href="@{javascript:;}" class="share" blog-event="share">
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-danger"
                                        onclick="shareAndCopy()">分享
                                </button>
                            </a>

                        </div>
                    </div>
                    <fieldset class="layui-elem-field site-demo-button"></fieldset>


                    <!-- reply -->


                    <!--评论显示  -->
                    <div class="comment-container" th:if="${blog.commentabled}==true">
                        <h3 align="center">用户评论</h3>
                        <div class="commentList">
                            <ul class="message-list" id="message-list">

                                <li class="zoomIn article">
                                    <div th:if="${#lists.isEmpty(comments)}" th:text="消灭零回复" align="center"
                                         class="opacity-min" style="padding: 20px 0 0 0;"></div>
                                    <div class="comment-parent" th:each="comment : ${comments}">
                                        <a name="remark-1"></a>
                                        <span>
                                                <img th:src="@{${comment.avatar}}"
                                                     style="width: 30px; height: 30px; border-radius: 50%; opacity: 1;"/></span>
                                        <cite><span th:text="${comment.nickname}"><a
                                                style="color: #5db2f4">&nbsp;&nbsp;tiankong
                                                    </a></span> &nbsp;<span class="layui-badge layui-bg-green"
                                                                            th:if="${comment.admin}">博主</span></cite>
                                        <div class="comment-content opacity-full"
                                             style="padding-left: 45px;margin-top: -20px"
                                             th:text="${comment.content}">
                                            剑气纵横三万里
                                        </div>
                                        <p class="info info-footer" style="margin-top: -20px"><span
                                                class="opacity-min-mintext " style="padding-left: 45px;"
                                                th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">2020-1-15
												16:00</span><a class="reply"
                                                               data-commentid="1" data-commentnickname="Matt"
                                                               th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"
                                                               style="color: #05c558; font-size: 16px; padding-left: 10px"
                                                               onclick="reply(this)">回复</a>
                                        </p>


                                        <div class="comment-childs" th:if="${#arrays.length(comment.replyComments)}>0">
                                            <div class="comment" style="padding-left: 45px"
                                                 th:each="reply : ${comment.replyComments}">
                                                <a name="remark-1"></a>
                                                <img th:src="@{${reply.avatar}}"
                                                     style="width: 30px; height: 30px; border-radius: 50%; opacity: 1"/>
                                                <cite><span><a th:text="${reply.nickname}">&nbsp;&nbsp;tiankong
                                                                            </a></span>&nbsp;<span
                                                        class="layui-badge layui-bg-green"
                                                        th:if="${reply.admin}">博主</span>&ensp;<span
                                                        th:text="|@${reply.parentComment.nickname}|"
                                                        class="m-blue" style="color: #5db2f4">@ 小白</span></cite>&nbsp;
                                                <span class="comment-content opacity-full"
                                                      th:text="${reply.content}">剑气纵横三万里
                                                </span>
                                                <div>
                                                    <p class="opacity-min-mintext info info-footer"
                                                       style="padding-left: 36px;margin-top: -20px;margin-bottom: -10px"
                                                       th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">
                                                        2020-1-15
                                                        16:00</span><a class="reply"
                                                                       href="javascript:;"
                                                                       data-commentid="1"
                                                                       data-commentnickname="Matt"
                                                                       th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}"
                                                                       style="color: #05c558; font-size: 16px; padding-left: 10px"
                                                                       onclick="reply(this)">回复</a>
                                                    </p></div>
                                            </div>
                                        </div>
                                        <fieldset class="layui-elem-field site-demo-button"></fieldset>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <br>


                    <!--                        commentSubmitForm-->
                    <form class="commentform layui-form" th:action="@{/comments}" method="post"
                          th:if="${blog.commentabled}==true">
                        <fieldset class="layui-elem-field site-demo-button"></fieldset>
                        <div class="layui-form-item" style="padding-top: 10px">
                            <input class="layui-hide" type="text" name="blogId" th:value="${blog.id}">
                            <input class="layui-hide" type="text" name="parentCommentId" value="-1">


                        </div>
                        <div class="layui-form-item">
                            <div id="edit">
                                <textarea lay-verify="required" name="content"
                                          placeholder="请输入评论内容..." class="replyText"
                                          style="height: 200px;width: 500px; border-color: #5FB878"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline ">
                                <i class="layui-icon layui-icon-username  pull-left"
                                   style="width: 25px"></i>
                                <div class="layui-input-inline opacity-min "
                                     style="width: 100px;">
                                    <input type="text" name="nickname" placeholder="用户名"
                                           autocomplete="off" lay-verify="required" class="layui-input"
                                           th:value="${session.user}!=null ? ${session.user.nickname}">
                                </div>

                                <i class="layui-icon layui-icon-email  pull-left"
                                   style="width: 25px"></i>
                                <div class="layui-input-inline opacity-min"
                                     style="width: 100px;">
                                    <input type="text" name="email" placeholder="邮箱"
                                           autocomplete="off" lay-verify="email" class="layui-input"
                                           th:value="${session.user}!=null ? ${session.user.email}">
                                </div>
                                <div class="layui-input-inline" style="padding-left: 60px;">
                                    <button class="layui-btn layui-btn-radius" lay-submit lay-filter="demo1"
                                            type="submit" id="comment_btn">发布
                                    </button>
                                </div>

                            </div>
                        </div>

                        <fieldset class="layui-elem-field site-demo-button"></fieldset>
                    </form>
                    <br>
                    <br>

                    <br>
                </div>

                <!--  -->
            </div>
        </div>
        <div class="layui-col-md3" style="opacity: 0">1</div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>

<!-- footer -->
<div class="footer" style="background-color: #000000">

    <p>
        <span>&copy; 2020</span> <span><a href="http://127.0.0.1:8080"
                                          target="_blank">tiankong44</a></span> <span>hello world</span>
    </p>
    <p>
        <span>人生就是一场修行</span>
    </p>
</div>

<!--jquery-->
<script src="../static/lib/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>

<!--face-->

<!--layui-->
<script type="text/javascript" src="../static/lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>

<script>


    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        // console.log(commentNickname + " :" + commentId);
        $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
        // $('#edit').append(res);
        $('.textarea').focus();
        $("[name='parentCommentId']").val(commentId);
    }

    function praise(obj) {
        var id = $(obj).data('blogid');
        var url = "/blog/praise/" + id
        // $(".praise-container").load("/myblog-1.0/" + url);
        var message = "";
        $.ajax({
            url: url,
            type: "post",
            success: function (data) {
                console.log(data)
                message = data.message;
                var praise = data.praise;
                $("#praiseCnt").empty();
                showMessage(message);
                praiseChange(praise);

            }
        });
    }

    function praiseChange(praise) {
        var html = '<span id="praiseCnt" >' + praise + '</span>'
        $("#praiseCnt").append(html);
    }


    function showMessage(message) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.tips(message, '#praise-btn', {
                tips: [1, '#FF5722'] //还可配置颜色
            });
        })
    }

    function shareAndCopy() {
        var pageURL = $(location).attr("href");
        const oInput = document.createElement('input');
        oInput.value = pageURL;
        document.body.appendChild(oInput);
        oInput.select();
        const copyResult = document.execCommand('copy');
        document.body.removeChild(oInput);
        layer.tips('复制链接成功！快去分享吧！', '.share', {
                tips: [1, '#FF5722'] //还可配置颜色
            });

    }








</script>
<script>
    layui
        .use(
            ['element', 'carousel', 'jquery',
                'util', 'form', 'layer'],
            function () {
                var element = layui.element;
                var carousel = layui.carousel;
                var $ = layui.$;
                var util = layui.util;
                var form = layui.form;
                var layer = layui.layer;




                // $('#content').append(content)
                layer.photos({
                    photos: '#layer-photos-demo',
                    anim: 5
                    //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）

                });
                //  var message = $('#praise-btn').data('message');
                // layer.tips(message, '#praise-btn', {
                //     tips: [1, '#FF5722'] //还可配置颜色
                // });
                // layer.msg(message, {icon: 4});
                //按钮随机颜色
                $(".tag").each(function () {
                    var arr = ["#1c97f5", "#e8741c", "#73685f", "#27e146",
                        "#b627e1", "#102cba", "#ed135c", "#ed3013",
                        "#0b1441", "#8e9ad6", "#988d2d", "#39541b",
                        "#082E54", "#A066D3", "#2E8B57", "#191970",
                        "#696969", "#FF8C00", "#808000", "#008080"];

                    $(this).css("background-color", arr[Math.floor(Math.random() * 20)]);
                });
                //jQuery
                var events = {
                    //分享

                    //点赞

                    //打赏

                    reword: function () {
                        layer
                            .tab({
                                area: ['330px', '373px'],
                                shade: 0.6,
                                tab: [
                                    {
                                        title: '微信',
                                        content: '<img style="width:330px;height:330px;" src="[[@{/images/wechat.png}]]" />'
                                    },
                                    {
                                        title: '支付宝',
                                        content: '<img style="width:330px;height:330px;" src="[[@{/images/alipay.jpg}]]"/>'
                                    }]
                            });

                    }
                };
                $('*[blog-event]')
                    .on(
                        'click',
                        function () {
                            var eventName = $(this).attr(
                                'blog-event');
                            events[eventName]
                                && events[eventName]
                                    .call(this);
                        });

                //监听导航点击
                element.on('nav(demo)', function (elem) {
                    //console.log(elem)
                    layer.msg(elem.text());
                });
                util.fixbar({
                    bar1: '<i class="layui-icon layui-icon-edit" style="font-size: 30px;"></i>',

                    click: function (type) {
                        console.log(type);
                        if (type === 'bar1') {
                            window.open('/message');

                        }
                    }
                });

            });









</script>
<script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
</bodylay-blog>
</html>