<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiankong44.dao.AlbumMapper">

    <insert id="saveImg" parameterType="com.tiankong44.model.Album">
      insert into album(imgName,path,uploadDate,user_id) values(#{imgName},#{path},#{uploadDate},#{userId});
    </insert>

    <select id="listImg" resultType="com.tiankong44.model.Album">
        select * from myblog.album where user_id=#{id} Order by   uploadDate DESC
     </select>

    <select id="listAlbum" resultType="com.tiankong44.model.Album">
        select * from myblog.album Order by   uploadDate DESC
     </select>
    <select id="findImgByGroupDate" resultType="com.tiankong44.model.Album">
        select id ,imgName,path,user_id,DATE_FORMAT(uploadDate,'%Y-%m-%d %H:%i:%s') uploadDate from myblog.album where DATE_FORMAT(uploadDate,'%Y-%m-%d')=#{day} Order by   uploadDate DESC
     </select>
    <select id="getAllDate" resultType="com.tiankong44.model.Album">
      select DATE_FORMAT(uploadDate,'%Y-%m-%d') uploadDate from myblog.album GROUP BY DATE_FORMAT(uploadDate,'%Y-%m-%d') Order by   uploadDate DESC
     </select>
    <delete id="deleteImg">
        delete from myblog.album where id = #{id}
    </delete>
    <select id="findImgByDate" resultType="com.tiankong44.model.Album">
        select * from myblog.album where Date(uploadDate) BETWEEN #{oldDate} and  #{newDate} And user_id=#{id} Order by   uploadDate DESC
     </select>
    <select id="findImgById" resultType="com.tiankong44.model.Album">
        select imgName from myblog.album where id=#{id} Order by   uploadDate DESC
     </select>
</mapper>