<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiankong44.dao.SystemMapper">
    <resultMap id="userInfo" type="com.tiankong44.model.vo.UserInfoVo">
        <id column="id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickName"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="introduction" property="introduction"/>
        <result column="sex" property="sex"/>
        <result column="birthDay" property="birthDay"/>
        <result column="qq" property="qq"/>
        <result column="age" property="age"/>
        <collection property="skills" ofType="com.tiankong44.model.Skill">
            <id column="skillId" property="skillId"/>
            <result column="u_userId" property="userId"/>
            <result column="percentage" property="percentage"/>
            <result column="skillName" property="skillName"/>
        </collection>
    </resultMap>


    <resultMap id="sysUserInfo" type="com.tiankong44.model.vo.UserVo">
        <id column="id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>

    </resultMap>


    <select id="getUserInfo" resultMap="userInfo">
        select u.id ,u.username ,u.nickname ,u.email ,u.avatar ,u.introduction ,u.sex ,u.birthDay ,u.qq ,u.age ,
        s.skillId ,s.userId u_userId,s.percentage, s.skillName
        from myblog.user u
        left join myblog.skill s
        on u.id=s.userId
        where u.id=#{userId}
    </select>
    <select id="getSysUserInfo" resultMap="sysUserInfo">
        select u.id ,u.username ,u.nickname ,u.email ,u.avatar
        from myblog.user u
        where u.id=#{userId}
    </select>

    <update id="updateAvatar">
        update myblog.user set avatar=#{path} where id=#{userId}
    </update>

    <insert id="insertAvatarLog">
        insert into user_avatar_log (user_id,path) select u.id,u.avatar from user u where u.id=#{userId}

    </insert>
</mapper>