<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiankong44.dao.TagMapper">

    <insert id="saveTag" parameterType="com.tiankong44.model.Tag">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tag(name) values(#{name});
    </insert>
    <insert id="saveBlogAndTag">
        insert into blog_tag(blog_id,tag_id)
        values
        <foreach collection="list" item="tagId" index="index" separator=",">
            ( #{blogId},#{tagId} )
        </foreach>;
    </insert>

    <select id="getAdminTag" resultType="com.tiankong44.model.Tag">
        select * from myblog.tag where id !=0
    </select>
    <select id="getById" resultType="com.tiankong44.model.Tag">
        select * from myblog.tag where id=#{id}
    </select>
    <select id="getByTagId" resultType="com.tiankong44.model.Blog">
        select bt.blog_id id,b.title,b.firstPicture,b.content,b.appreciation,b.commentabled,b.createTime,b.views ,b.description from myblog.blog_tag bt,myblog.blog b
        where tag_id=#{tagId} AND bt.blog_id=b.id
    </select>
    <select id="getByName" resultType="com.tiankong44.model.Tag">
        select * from myblog.tag where binary name =#{name}
    </select>

    <select id="getfirstPageTag" resultType="com.tiankong44.model.Tag">
        select * from myblog.tag limit 16
    </select>
    <select id="getTagsByBlogId" resultType="com.tiankong44.model.Tag">
        select * from tag where id in(select tag_id from myblog.blog_tag where blog_id=#{blog_id})
    </select>


    <delete id="deleteTag">
        delete from myblog.tag where id = #{tagId}
    </delete>
    <delete id="deleteBlogAndTag">
        delete from myblog.blog_tag where blog_id = #{blog_id}
    </delete>


    <update id="updateTag" parameterType="com.tiankong44.model.Tag">
        update tag set name = #{name} where id = #{id};
    </update>

    <select id="getTagsByUserId" resultType="com.tiankong44.model.vo.TagVo">
        select t.id value,t.name label
        from myblog.tag t ,myblog.user_tag ut
        where ut.userId=#{userId} and ut.tagId=t.id
    </select>

    <insert id="saveTagAndUser">
        insert into user_tag (userId,tagId) values(#{userId},#{tagId})
    </insert>

    <select id="queryTagList" resultType="com.tiankong44.model.vo.TagVo">
        select t.id value,t.name label
        from myblog.tag t ,myblog.user_tag ut
        where ut.userId=#{userId} and ut.tagId=t.id
        <if test="tagName!=null and tagName!=''">
            and t.name LIKE CONCAT ('%',#{tagName},'%')
        </if>
    </select>

    <select id="getTagByUserIdAndTagId" resultType="com.tiankong44.model.vo.UserTag">
        SELECT userId,tagId from user_tag where userId=#{userId} and tagId=#{tagId}
    </select>
    <delete id="deleteBlogAndTags">
        delete from blog_tag where blog_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteTagAndUser">
        delete from user_tag where userId=#{userId} and tagId=#{tagId}
    </delete>

</mapper>