<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiankong44.dao.UserMapper">
    <select id="findUser" resultType="com.tiankong44.model.User">
        select * from myblog.user
        where username = #{username} and password = #{password};
    </select>
</mapper>